.intro__list {
    list-style: none;
    margin: 33px 0 0 0;
    padding: 0;
    max-width: 690px;
/*     border: dashed red;    */
}

@media screen and (max-width: 320px) {
    .intro__list {
        margin: 0;
        padding-top: 34px;
    }
   
}