.cover__subline {
    margin: 0;
    max-width: 360px;
    padding-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}