.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1184px;
    height: 100%;
    min-height: 740px;
    text-decoration: none;
    position: relative;
    z-index: -1;    
}