/* 1280 */
.intro {

   /* position */
   display: flex;
   flex-direction: column;
   align-self: flex-start;

   /* size */
   max-width: 984px;
   padding-top: 92px;
   padding-left: 48px;

   
   /*   border: dashed red;   */
}